<div class="about-description" ng-controller="AboutCtrl">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="about-description_content">Con nuestros juegos de madera creamos un mundo fantástico para niños de todas las edades. Tenemos más de 28 años de experiencia llevando momentos de diversión a los niños gracias a nuestras categorías de productos: Juegos de madera para fraccionamientos, Juegosd e madera para restaurantes, Juegosd de madera para escuelas y más.</p>
              <h3 class="about-description_title">En Rainbow encuentra la mejor variedad de juegos de madera para exterior y juegos infantiles de madera.</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="about-history">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="about-history_title">Historia</h2>
              <p class="about-history_content">
                Con nuestros juegos de madera creamos un mundo fantástico para niños de todas las edades. Tenemos más de 28 años de experiencia llevando momentos de diversión a los niños gracias a nuestras categórías de productos: Juegos de madera para fraccionamientos, Juegos de madera para restaurantes, Juegos de madera. Con nuestros juegos de madera creamos un mundo fantástico para niños de todas las edades. Tenemos más de 28 años de experiencia llevando momentos de diversión a los niños gracias a nuestras categorías de productos: Juegos de madera para fraccionamientos, Juegos de madera para restaurantes, Juegos de madera.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="about-values">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3 class="vision-title">
                Visión
              </h3>
              <p class="vision-content">
                Con nuestros juegos de madera creamos un mundo fantástico para niños de todas las edades. Tenemos más de 28 años de experiencia llevando momentos de diversión a los niños gracias a nuestras categorías de productos.
              </p>
            </div>
            <div class="col-md-4">
              <h3 class="mision-title">
                Misión
              </h3>
              <p class="mision-content">
                Con nuestros juegos de madera creamos un mundo fantástico para niños de todas las edades. Tenemos más de 28 años de experiencia llevando momentos de diversión a los niños gracias a nuestras categorías.
              </p>
            </div>
            <div class="col-md-4">
              <h3 class="values-title">Valores</h3>
              <p class="values-content">
                Con nuestros juegos de madera creamos un mundo fantástico para niños de todas las edades. Tenemos más de 28 años de experiencia llevando.
              </p>
            </div>
          </div>
        </div>
      </div>