<footer class="footer" ng-controller="FooterCtrl">
        <div class="container footer-container">
          <div class="row row-mobile">
            <div class="col-md-3">
              <div class="row row-mobile">
                <div class="col-md-5"><h4>Envío</h4></div>
                <div class="col-md-7"><p class="line-title"></p></div>
              </div>
              <img class="img-responsive" src="assets/images/entrega-en-todo-el-pais.jpg" alt="">
              <p class="footer-description text-center">
                ¿Ya tienes tu Rainbow? 
              </p>
              <p class="footer-description text-center">
                Contamos con servicio de <strong>mantenimiento</strong>
              </p>
            </div>

            <div class="col-md-3">
              <div class="row row-mobile">
                <div class="col-md-5"><h4>Menú</h4></div>
                <div class="col-md-7"><p class="line-title"></p></div>
              </div>
              <ul class="footer-menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/modelos">Modelos</a></li>
                <li><a href="/clientes">Clientes</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/contacto">Contacto</a></li>
              </ul>
            </div>

            <div class="col-md-3">
              <div class="row row-mobile">
                <div class="col-md-5"><h4>Promociones</h4></div>
                <div class="col-md-7"><p class="line-title"></p></div>
              </div>
              <ul class="recomendations-list">
                <li>
                  <a href="#" class="recomendations-item">
                    <h3>Castillo</h3>
                    <p>Modelo Fiesta</p>
                  </a>
                </li>
                <li>
                  <a href="#" class="recomendations-item">
                    <h3>Club</h3>
                    <p>Modelo Play House</p>
                  </a>
                </li>
                <li>
                  <a href="#" class="recomendations-item">
                    <h3>Castillo</h3>
                    <p>Modelo Carnival</p>
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-md-3">
              <div class="row row-mobile">
                <div class="col-md-5"><h4>Contacto</h4></div>
                <div class="col-md-7"><p class="line-title"></p></div>
              </div>
              <ul class="contact-list">
                <li>Llámanos para conocer las <strong>soluciones</strong> que tenemos para ti.</li>
                <li>Zona Centro Sur: 01-477-77-91-166</li>
                <li>Zona Norte Occidente: 01-33-36-20-21-99</li>
              </ul>
            </div>

          </div>

          <div class="row row-mobile copyright-container">
            <div class="col-md-6">
              <p class="copyright text-right">
                <span>© <strong>Rainbow</strong></span>
                <span>Todos los derechos reservados</span>
              </p>
            </div>
            <div class="col-md-6">
              <p class="developers-container">
                <span class="developers-address">Desarrollado por <a href="http://www.agenciaparadoja.com" target="_blank">Agencia Paradoja.</a></span>
              </p>
            </div>
          </div>
        </div>
      </footer>