<nav class="navbar navbar-default navbar-container navbar-fixed-top">
  <div class="phone-number">
    <div class="container">
      <div class="row">
        <div class="col-md-10 phone-number-content">
          <ul class="phone-list">
            <li><i class="fa fa-phone"></i> Llámanos:</li>
            <li>Zona Centro Sur: 01-477-77-91-166</li>
            <li>Zona Norte Occidente: 01-33-36-20-21-99</li>
          </ul>
        </div>

        <div class="col-md-2 social-media">
          <a href="https://www.facebook.com/JuegosRainbowMexico?fref=ts" target="_blank" class="text-center social-media_fb">
            <img src="assets/images/fb.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="img-responsive" src="assets/images/rainbow-juegos-infantiles-logo.png" alt="">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li><a href="/"><i class="fa fa-home"></i> Inicio </a></li>
        <li><a href="/modelos"><i class="fa fa-cubes"></i> Modelos</a></li>
        <li><a href="/nosotros"><i class="fa fa-group"></i> Nosotros</a></li>
        <li><a href="/contacto"><i class="fa fa-envelope-o"></i> Contacto</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>